/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
nav {
    background-color: rgba(39, 39, 39, 1); /* Opacidad inicial 100% */
    height: 80px; /* Altura inicial */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid aqua;
    transition:  height 0.3s ease; /* Transición suave para el cambio de color y altura */
}




nav ul {
    list-style: none; /* Quitamos los puntos de la lista */
    display: flex; /* Ponemos los items en fila */
    margin: 0; /* Quitamos márgenes por defecto */
    padding: 0; /* Quitamos padding */
}

nav ul li {
    margin: 0 20px; /* Espaciado entre los items */
}

nav ul li a {
    position: relative; /* Necesario para los pseudo-elementos */
    color: white; /* Color de texto */
    text-decoration: none; /* Quitamos el subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold;
    padding: 12px 20px;
    border: 2px solid transparent; /* Borde transparente inicialmente */
    border-radius: 4px; /* Bordes redondeados */
    transition: color 0.3s ease, border-color 0.3s ease; /* Transición suave para color y borde */
    overflow: hidden; /* Ocultamos cualquier elemento fuera del área */
}

/* Efecto de las líneas laterales */
nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #212121; /* Color de fondo de las líneas */
    transition: 0.5s; /* Efecto de transición */
    transform-origin: center;
    height: 2px;
}

nav ul li a::before {
    width: 0%; /* Inicialmente las líneas tienen un ancho de 0% */
    left: 0;
    top: 0; /* Línea superior */
}

nav ul li a::after {
    width: 0%; /* Inicialmente las líneas tienen un ancho de 0% */
    right: 0;
    bottom: 0; /* Línea inferior */
}

/* Hover efecto */
nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 100%; /* Al hacer hover, las líneas ocupan todo el ancho */
}

/* Hover efecto en el enlace */
nav ul li a:hover {
    color: aqua; /* Color del texto al pasar el ratón */
    border-color: aqua; /* Borde al pasar el ratón */
    box-shadow: inset 0px 0px 25px #1479EA; /* Sombra interna como en el botón */
}


