#proyectos {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-proyecto {
    width: 90%;
    height: 90%;
    display: flex;
}

.texto-proyecto-div {
    width: 35%;
    height: 100%;
    background-color: #1a1a1a;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px #1479EA;
    margin-right: 10px;
    border: 2px solid #149CEA;
}

.carrusel-proyecto-div {
    width: 65%;
    height: 100%;
    background-color: #1a1a1a;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px #1479EA;
    border: 2px solid #149CEA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-pagina {
    width: 80%;
    max-width: 1000px;
    height: 500px;
    background-color: rgb(24, 23, 23);
    border: 4px solid #149CEA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 25px #1479EA;
    overflow: hidden;
}

#preview-frame {
    width: 100%;
    height: 100%;
    border: none;
}
